body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0698fa;
}

.navbar-brand {
  background-image: url("../images/cover.png");
}

.nav-item {
  font-size: 1.5rem;
}
